<div class="grid gap-2">
	<a href="{{ product.url | within: collection }}" class="relative aspect-w-5 aspect-h-7">
		<img src="{{ product.featured_image | img_url: '' }}" alt="{{ product.featured_image.alt | escape }}" loading="lazy" class="h-full w-full object-cover" />

		{% if product.compare_at_price %}
		<div class="bg-red-500 text-white text-sm tracking-wider uppercase absolute top-0 left-0 px-2 py-1">
			{{ 'common.sale' | t }}
		</div>
		{% endif %}
	</a>

	<a href="{{ product.url | within: collection }}" class="text-sm">
		<div class="line-clamp-1">
			{{ product.title }}
		</div>
		<div>
			<span class="font-bold {% if product.compare_at_price %}text-red-500 line-through {% endif %}"> {{ product.price | money }} </span>
			{% if product.compare_at_price %}
			<span class="ml-1 font-bold">
				{{ product.compare_at_price | money }}
			</span>
			{% endif %} {% if product.available == false %}
			<span class="ml-1 font-bold uppercase text-red-500">
				{{ 'common.sold_out' | t }}
			</span>
			{% endif %}
		</div>
	</a>
</div>
